In [8]:
1+2

3

In [9]:
x, y = 2, 3

In [10]:
x

2

In [11]:
y

3

In [12]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [13]:
tu[0]

23

In [14]:
tu[1]

'abc'

In [15]:
li= ['abc', 34, 4.34, 23]

In [16]:
li[0]

'abc'

In [17]:
li[1]

34

In [18]:
li[2]

4.34

In [19]:
int x = 2;
float y =2.3;
String msg = 'message';
int[] x = {1,2,3};

SyntaxError: invalid syntax (<ipython-input-19-30e7cfe424ed>, line 1)

In [20]:
st="""This is a multi-line
string that uses triple quates."""

In [21]:
st

'This is a multi-line\nstring that uses triple quates.'

In [22]:
print(st)

This is a multi-line
string that uses triple quates.

In [23]:
print(li)

['abc', 34, 4.34, 23]

In [24]:
li[-2]

4.34

In [25]:
tu[0]

23

In [26]:
tu[4]

'def'

In [27]:
tu[1:4]

('abc', 4.56, (2, 3))

In [28]:
tu[:4]

(23, 'abc', 4.56, (2, 3))

In [29]:
tu[2:]

(4.56, (2, 3), 'def')

In [30]:
tu1=tu

In [31]:
print(tu1)

(23, 'abc', 4.56, (2, 3), 'def')

In [32]:
tu1[0]=1

TypeError: 'tuple' object does not support item assignment

In [36]:
li = [23, 'abc', 4.56, (2,3), 'def']

In [37]:
print(li)

[23, 'abc', 4.56, (2, 3), 'def']

In [38]:
li[0]=1

In [39]:
print(li)

[1, 'abc', 4.56, (2, 3), 'def']