In [1]:
1+2

3

In [3]:
x, y = 2, 3

In [4]:
x

2

In [5]:
y

3

In [6]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [7]:
tu[0]

23

In [8]:
tu[1]

'abc'

In [10]:
li= ['abc', 34, 4.34, 23]

In [11]:
li[0]

'abc'

In [12]:
li[1]

34

In [13]:
li[2]

4.34

In [ ]:
int x = 2;
float y =2.3;
String msg = 'message';
int[] x = {1,2,3};

In [14]:
st="""This is a multi-line
string that uses triple quates."""

In [15]:
st

'This is a multi-line\nstring that uses triple quates.'

In [16]:
print(st)

This is a multi-line
string that uses triple quates.

In [17]:
print(li)

['abc', 34, 4.34, 23]

In [18]:
li[-2]

4.34

In [ ]:
li[4]